body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 1.4;
    background-color: grey;
}

p {
    text-indent: 20px;
}

.title {
    text-align: center;
    font-style: normal;
    letter-spacing: 4;
    text-transform: uppercase;
    /* text-decoration: underline; */
}

.justify {
    text-align: justify;
    font-weight: bold;
    font-style: italic;
}

.table {
    border: 1px solid #000;
    width: 100%; 
    border-collapse: collapse;
    table-layout: fixed;
}

.table th {
    text-align: left;
    padding: 5px 10px;
    color: rgb(10, 81, 62);
}

.table td {
    border: 1px solid #000;
    padding: 5px 10px;
}

.table tfoot td {
    text-align: right;
}

.text-red {
    display: inline-block;
    padding: 1%;

    color:crimson;
    font-weight: bold;
}

/* .content {
    width: 500px;
    margin: 50px auto;
} */

.content h1{
    text-align: center;
 }

ul {
    list-style-type: square;
    list-style-position: outside;
}

ol {
    font-family:Georgia, 'Times New Roman', Times, serif;
    list-style-type: decimal-leading-zero;

    color: rgb(137, 18, 18);
}

.page {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* Post */
.post {
    width: 700px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 25px;
    background-color: #fff;

    margin-bottom: 20px;

}

.post-title {
    text-align: center;
    margin: 0 0 20px 0;
    color:cadetblue;
}

.post-title p {
    margin: 0 0 10px 0;
}

/* Gradient */
.gradient {
    width: 750px;
    height: 400px;

    /* background-image: linear-gradient(#fff, #333); */
    background-image: radial-gradient(circle, #fff, #333);
    margin-left: auto;
    margin-right: auto;
} 